
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.inflation') AND type in (N'U'))
BEGIN
CREATE TABLE dbo.inflation
(
	 year integer NOT NULL 
	,country character varying(10) NOT NULL 
	,inflation decimal(18, 2) NULL 
	,CONSTRAINT pk_inflation PRIMARY KEY ( year, country ) 
);
END


INSERT INTO inflation (year, country, inflation) VALUES (2017, N'CH', CAST(0.84 AS decimal(15, 2)));
INSERT INTO inflation (year, country, inflation) VALUES (2016, N'CH', CAST(-0.01 AS decimal(15, 2)));
INSERT INTO inflation (year, country, inflation) VALUES (2015, N'CH', CAST(-1.31 AS decimal(15, 2)));
